body {
    background-color: black;
    color: #e98208;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.border {
    border: 2px solid white;
    
}
.text-1 {
    font-size:20rem;
}
.text-2 {
    font-size: 25rem;

}
.text-3 { 
    font-size: 1.5rem;
}
#logo {
    margin-top: 5%;
}